#user-info-container {
}

#user-info {
    text-align: right;
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    font-size: 16px;
}

#user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#user-info button {
    background-color: #d0e0c5;
    border: none;
    padding: 5px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
